* {
    box-sizing: border-box;
}

@media(max-width: 768px){

    .nav-list,.nav-entry{
        display: none;
    }
    .nav-menu__icon{
        display: block;
    }

    header{
        height: 15vw;
        width: 100%;
    }
    .nav-gloval{
        height: 15vw;
        width: 100%;

    }
    .info-block{
        flex-basis: auto;
        flex-grow: 1;

    }
    .info-block__logo{
        max-width: 30%!important;
        min-width: 50px;
        height: auto;
        object-fit: contain;
        margin: 1.6% 2%;
        
    }
    .infoblock__title{
        font-size: 3vw;
    }

    /* sp-button */
    .sp-button{
        display: block;
        background: #212121;
        min-width: 15vw;
        width: 15vw;
        height:15vw;
        
    }

    #navToggle{
        position: absolute;
        right: 4vw;
        top: 5vw;
        width: 6vw;
        height: 4vw;
        z-index: 100;
    }
    #navToggle div{
        position: relative;
    }
    #navToggle span{
        display: block;
        position: absolute;
        width: 100%;
        border-bottom: 2px solid #fff;
        right: 0;
    }

    #navToggle span:nth-of-type(1){
        top: 0;
    }
    #navToggle span:nth-of-type(2){
        width: 80%;
        top: 1.9vw;
    }
    #navToggle span:nth-of-type(3){
        width: 60%;
        top: 3.8vw;
    }


    /* top */

    .topwrapper__catch{
        font-size: 5vw;
        letter-spacing: 2vw;
        word-break: break-all;
    }
    .topwrapper__Scrollbtn{
        font-size: 3vw;
        /* letter-spacing: 2vw; */
        width: 25vw;
        padding: 3%;

    }


    /* section title */
    .section-title{
        margin-bottom: 10%;
    }

    /* wrapper */
    .wrapper02,.wrapper03,.wrapper04,.wrapper05,.wrapper06{
        padding: 25% 0;
    }

    /* about */
    .top-container{
        width: 90%;
        margin: 0 auto;
    }


    /* people */
    
    .main{
        width: 100%;
    }
    .main-list__item{
        width: 100vw;
        flex-basis: 100%;
    }
    .main-list__img{
        width: 100vw;
        object-fit: cover;
    }
    .main-list__02{
        flex-wrap: wrap;
    }
    .main-list__info{
        flex-basis: 90%;
        padding-top: 10%;
        width:90%;
        margin:0 auto;
    }

    /* req */
    .list02{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .list02 li{
        width: 100%;
        margin-bottom: 10%;
    }

    /* COMPANY */
    .list03 li{
        flex-direction: column;
        line-height: 200%;
    }
    .list03__item,.list03__text{
        width:100%;
    }
    .info-container__link{

    }
    .info-container__link a{
        font-size: 20px;
        height: 100%;

    }
    .info-container__link a::after{
        background-size: 50%;
    }

    /* footer */
    footer{
        flex-direction: column-reverse;
        width:100%;

    }
    .footer__box{
        width:100%;
        margin:0 auto;
    }
    .footer__menu{
        
    }
    #footer-menu{
        flex-direction: column;
        padding: 16% 0 0;
        line-height: 200%;

    }
    .footer-menu__btn{
        width: 90%;
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 8%;
    }
    .SNS-list{
        justify-content: center;
        padding-bottom: 10%;
    }
    .SNS-list img{
        height: 40px;
    }

    .footer__info{
        width: 100vw;
        justify-content: flex-start;
        padding: 5%;
    }

    .footer__powered{
        justify-content: center;
        display: none;
    }
    .footer__powered02{
        display: flex;
        padding: 6% 0 6%;

    }
}
