* {
    box-sizing: border-box;
}

@media(max-width: 670px){

    .nav-list,.nav-entry{
        display: none;
    }
    .nav-menu__icon{
        display: block;
    }


    /* top */
    .topwrapper__catch{
        font-size: 5vw;
        letter-spacing: 2vw;
        word-break: break-all;
    }
    .topwrapper__Scrollbtn{
        font-size: 3vw;
        /* letter-spacing: 2vw; */
        width: 25vw;
        padding: 3%;

    }


    /* section title */
    .section-title{
        margin-bottom: 10%;
    }

    /* wrapper */
    .wrapper02,.wrapper03,.wrapper04,.wrapper05{
        padding: 25% 0;
    }

    /* about */
    .top-container{
        width: 90%;
        margin: 0 auto;
    }


    /* people */
    
    .main{
        width: 100%;
    }
    .main-list__item{
        width: 100vw;
        flex-basis: 100%;
    }
    .main-list__img{
        width: 100vw;
        object-fit: cover;
    }
    .main-list__02{
        flex-wrap: wrap;
    }
    .main-list__info{
        flex-basis: 90%;
        padding-top: 10%;
        width:90%;
        margin:0 auto;
    }

    /* req */
    .list02{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .list02 li{
        width: 100%;
        margin-bottom: 10%;
    }

    /* COMPANY */
    .list03 li{
        flex-direction: column;
        vertical-align: middle;
        line-height: 200%;
    }
    .list03__item,.list03__text{
        width:100%;
    }
    .info-container__link a{
        font-size: 20px;
    }
    .info-container__link a::after{
        background-size: 50%;
    }

    /* footer */
    footer{
        flex-direction: column-reverse;
        width:100%;

    }
    .footer__box{
        width:100%;
        margin:0 auto;
    }
    .footer__menu{
        
    }
    #footer-menu{
        flex-direction: column;
        padding: 16% 0 0;
        line-height: 200%;

    }
    .footer-menu__btn{
        width: 90%;
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 8%;
    }
    .SNS-list{
        justify-content: center;
        padding-bottom: 10%;
    }
    .SNS-list img{
        height: 40px;
    }

    .footer__info{
        width: 100vw;
        justify-content: flex-start;
        padding: 5%;
    }

    .footer__powered{
        justify-content: center;
        display: none;
    }
    .footer__powered02{
        display: flex;
        padding: 6% 0 6%;

    }
}
